{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
        <a class="subscribe-button icon-feed" href="http://eepurl.com/bbaQMf" target="_blank">subscribe</a>
    </nav>
    {{#if image}}
        <div class="post-header vertical">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </div>
    {{else}}
    {{/if}}
</header>

<main class="content" role="main">

    <article class="{{post_class}}">

        {{#if image}} 
        {{else}}
            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
                </section>
            </header>
        {{/if}}

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer clearfix">

            <div class="prev-next clearfix">
                <span id="curr-post-uuid" style="visibility: hidden; display: none;">{{uuid}}</span>
                <a class="prev-post">Previous Post</a>
                <a class="next-post">Next Post</a>
            </div>
           
        </footer>

        {{Disqus}}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'amsterdamadventures'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


    </article>


    

</main>

{{/post}}
